env/
*.DS_Store
*.pyc
*.bak
*/.vscode/
*.pem
*/__pycache__/*
secrets.py
keys/
*run.py
run.py
run_admin.py
*.xml
*.iml
*/.idea/
publish.sh
build.sh
run.sh
*/config.json
*/secret.json
secrets.json
secrets.yaml
secret.yaml
start.sh