env/
*.DS_Store
*.pyc
*.bak
*/.vscode/
*.pem
*/__pycache__/*
*/keys/octy-private-key
*/keys/octy-private-key.base64
octy-private-key-secret.yaml
*run.py
run.py
run_admin.py
*.xml
*.iml
*/.idea/
publish.sh
build.sh
run.sh
*/config.json
*/secret.json
secrets.json
secrets.yaml
secret.yaml
start.sh
workers/churn_prediction/.vscode/
workers/recommendation/.vscode/
*launch.json
workers/rfm/.vscode/
