aio-pika
aiormq
argon2-cffi
basicauth
boto3
botocore
certifi
cffi
chardet
click
cryptography
dnspython
email-validator
fastapi
h11
idna
jmespath
limits
mailjet-rest
multidict
pamqp
passlib
pika
pycparser
pydantic
PyJWT
pymongo
PyYAML
pytest
python-dateutil
requests
requests-toolbelt
s3transfer
sentry-sdk
six
slowapi
starlette
typing-extensions
urllib3
uvicorn
yarl
redis[hiredis]
motor