aio-pika
aioredis
aiormq
async-timeout
certifi
cffi
click
cryptography
dnspython
fastapi
fastapi-limiter
h11
hiredis
idna
limits
multidict
numpy
pamqp
pika
pycparser
pydantic
PyJWT
PyYAML
pymongo
python-bsonjs
sentry-sdk
six
slowapi
starlette
redis[hiredis]
typing-extensions
urllib3
uvicorn
yarl
python-dotenv
motor
requests