aio-pika
aiormq
certifi
cffi
chardet
click
cryptography
dnspython
fastapi
h11
idna
limits
mongoengine
multidict
pamqp
pika
pycparser
pydantic
PyJWT
pymongo
PyYAML
redis
requests
sentry-sdk
six
slowapi
starlette
typing-extensions
urllib3
uvicorn
yarl
motor